{% block content %}
  <div class="row">
  <div class="col-lg-8 col-lg-offset-2 heading text-center">
    {{ page.content }}
    {% include 'partials/h-divider.html.twig' %}
  </div>
  </div>
{% endblock %}
