{% block content %}
  <div class="financial-disclosure-table-container row">
  <div class="financial-disclosure-table col-xs-12">
    <div class="financial-table-title-wrapper row">
    <div class="financial-table-title-row col-md-8 col-md-offset-2">
      <div class="financial-table-title-col general-partner-name">ジェネラル・パートナー名</div>
      <div class="financial-table-title-col fund-name">ファンド名</div>
      <div class="financial-table-title-col attachment">別紙様式第二十号の二</div>
    </div>
    </div>
    <div class="financial-table-body-wrapper row">
    <div class="financial-table-body col-md-8 col-md-offset-2">
    {% for row in page.collection() %}
      <div class="financial-table-body-row">
      {% for column in row.content|striptags('<a>')|split('|') %}
        <div class="financial-table-body-col">{{ column }}</div>
      {% endfor %}
      </div>
    {% endfor %}
    </div>
    </div>
  </div>
  </div>
{% endblock %}
