{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'-'}) }}{% endmacro %}

{% block content %}
  <div class="{{ _self.pageLinkName(page.menu) }}">
  <a class="igc-button" href="/companies.html">{{ page.content|striptags }}</a>
  </div>
{% endblock %}
