{% block content %}

<div class="contact-form-wrapper">
	<div class="row">
	<div class="col-lg-8 col-lg-offset-2">
	  {{ content }}
	</div>
	</div>

	<div class="row">
	<div class="col-lg-8 col-lg-offset-2">
	    {% include "forms/form.html.twig" %}
	</div>
	</div>
</div>

{% endblock %}
