{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'-'}) }}{% endmacro %}
{% block content %}
  <div class="row row-sm-gutter {{ _self.pageLinkName(page.menu) }}">
    {% for item in page.collection() %}
      {% include 'partials/home-portfolio-showcase-item.html.twig' with {'page': item} %}
    {% endfor %}
  </div>
{% endblock %}
