#body {
  padding-top: 80px;
}

.banner {
  height: 50vh;
  background-position: 50% 50%;
  background-size: cover;
}

#headline .content-wrapper {
  padding: 120px 0;
}
#previous-companies .content-wrapper {
  padding: 120px 0 150px;
}

#headline h2, #previous-companies h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
}

#headline h4 {
  font-weight: 300;
  font-size: 30px;
  line-height: 41px;
}

.company-row {
  height: auto;
}

.company-row:nth-child(odd) {
  background-color: #FBFBFB;
}

.company {
  height: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
}

.company-description h5 {
  font-size: 16px;
  margin-bottom: 7px;
	display: none;
}

.company-description p {
  font-size: 14px;
  line-height: 23px;
  margin-bottom: 0px;
  margin-top: 7px;
	text-align: center;
}

.company-logo, .company-description {
  margin: 12px 0;
}

.company-logo {
  text-align: center;
}

.company-logo img {
  max-height: 150px;
  max-width: 300px;
}

.previous-logo-list.row {
  margin: 0;
}

.previous {
	text-align: center;
}
.previous-logo img {
	max-width: 240px;
	max-height: 120px;
}

/* All devices but mobile (768px and up) */
@media (min-width: 768px) {
  .banner {
    height: 550px;
  }
  .company {
    display: flex;
    align-items: center;
  }
  .company-row {
    height: 190px;
  }
  .company-description h5 {
		display: block;
  }
	.company-description p {
	  text-align: left;
	}
}
