{% extends 'partials/base.html.twig' %}

{% block content %}
<!-- Contact
================================================== -->
<div class="container terms">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 terms">
      {{ page.content }}
    </div>
  </div>
</div>
{% endblock %}
