{% set company_logo = page.media.images|first %}
{% if company_logo is empty %}
  {% set company_logo = page.media.files|first %}
{% endif %}

{% block content %}
  <div class="company-row">
  <div class="company col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <div class="company-logo col-md-4 col-sm-12">{{ company_logo.html }}</div>
    <div class="company-description col-md-8 col-sm-12">{{ page.content }}</div>
  </div>
  </div>
{% endblock %}
